* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", sans-serif;
}

.for_mobile {
    display: none;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.my_nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
    border-bottom: 1px solid #828282;;
}

nav a {
    color: #828282;
    font-size: 18px;
    text-decoration: none;
}

nav a:active {
    color: #828282;
    font-size: 18px;
    text-decoration: none;
}

.header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    margin-top: 10px;
    text-align: center;
}

.header_logo img {
    height: 300px;
}

.content {
    padding: 50px 0;
    box-sizing: border-box;
    text-align: center;
    min-height: 50vh;
}

.content:nth-child(even) {
    background-color: #F6F6F6;
}

.content p {
    text-indent: 1.5em;
    width: 80%;
    font-size: 18px;
    line-height: 28px;
    margin: 0 auto;
}

.content h3 {
    color: #070707;
    font-size: 25px;
    font-variant: all-petite-caps;
    padding-bottom: 47px;
    box-sizing: border-box;
}

.flex-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.flex-b .in_box {
    padding: 7px 13px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header_logo img {
        width: 100%;
    }

    .flex-b {
        display: flex;
        flex-direction: column;
    }

    .flex-b .in_box, span {
        margin: 10px 0;
        border: 0;
    }

    .flex-b a {
        padding-top: 13px;
        box-sizing: border-box;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    .my_nav {
        display: none;
    }

    .for_mobile {
        display: flex;
        margin: 15px;
        justify-content: end;
    }

    .drop_menu {
        padding: 15px;
        box-sizing: border-box;
        border: 1px solid #828282;
        border-radius: 5px;
    }
    .for_mobile ul {
        padding: 7px 13px;
        box-sizing: border-box;
    }
    .for_mobile ul li {
        padding: 5px 0;
    }
    .header {
        margin: 0;
        order: 2;
    }
    .for_mobile {
        order: 3;
    }
    .header_for_mobile {
        margin-top:20px;
        display: flex;
        align-items: center;
    }

}