* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", sans-serif;
}
.wrap_content {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-color: #253247;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-image: url("/media/logo.png");
    background-size: 128px;
    width: 128px;
    height: 128px;
}

.person {
    color: white;
    height: 128px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reg {
    line-height: 64px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.reg a {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: white;
    padding: 3px 7px;
    box-sizing: border-box;
}

header img {
    width: 128px;
}
.wh-64 {
    width: 64px;
    height: 64px;
    display: flex;
}
.person img {
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid white;
    padding: 0;
}

.header_username, .exit {
    text-decoration: none;
    padding: 5px 7px;
    box-sizing: border-box;
}

.header_username:hover {
    color: #ecd140;
}

.profile_avatarka {
    height: 110px;
    margin: 0 15px 0 0;
}

.profile_row {
    display: flex;
    text-align: justify;

}

.profile_row:nth-child(n+2) {
    margin-bottom: 7px;
}
.profile_row:last-child {
    padding-bottom: 10px;
}

.profile_contacts {
    text-align: left;
}

.profile_contacts h3 {
    margin: 0;
    padding: 0;
}

.profile_row p {
    color: #a6a6a6;
    margin: 0 0 3px;
}

.profile_row span {
    font-size: 1.1em;
    color: black;
}

.exit:hover {
    color: #d75946;
}

.person h5 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.person a {
    color: white;
}

.content {
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
}

.content h2 {
    margin-bottom: 30px;
}

.content label {
    margin: 15px 0 0;
    font-size: 0.8em;
}


.my_button {
    display: block;
    width: 100%;
    margin-top: 15px;
    background-color: #d75946;
    border-radius: 5px;
    color: white;
    border: 0px;
    padding: 6px 0;
    text-align: center;
    text-decoration: none;
}
.yellow {
    background-color: #ecd140;
}
.light_blue {
    background-color: #75b6bf;
}
.light_green {
    background-color: #75bf7e;
}
.my_button:hover {
    color: white;
    opacity: 0.9;
}


.content input,
textarea,
select {
    padding: 5px 7px;
}

.item {
    color: #253247;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 17px 13px;
    box-sizing: border-box;
}
.item ul {
    padding-left: 10px;
}
.item p, h3, li {
    color: white;
}
.item p, li {
    font-size: 1.2em;
}
.item li {
    list-style-type: none;
    padding: 10px 0 5px;
}
.item p.body_text {
    margin: 0;
    width: 100%;
    text-align: center;
}

.item:nth-child(odd) {
    background-color: #d75946;
}

.item:nth-child(even) {
    background-color: #ecd140;
}

.item img {
    width: 150px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
}

.item p {
    width: 60%;
    text-align: justify;
}

.login {
    margin: 0 auto;
    padding: 10px 30px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.form_edit_profile {
    width: 100%;
    margin: 0;
    text-align: left;
    align-self: center;
    padding-bottom: 10px;
}

.form_edit_profile label {
    margin-top: 10px;
    color: #a6a6a6;

}
.form_edit_profile input {
    width: 100%;
    padding: 5px 7px;
}


.profile_flex {
    display: flex;
}
.profile_content {
    width: calc(100% - 200px);
}
.profile_nav {
    width: 200px;
}
.profile_nav .my_button {
    margin: 0 0 15px 0;
}
@media (max-width: 600px) {
    header {
        text-align: center;
    }

    .person {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .person img {
        overflow: hidden;
    }

    .reg {
        flex-direction: column;
    }

    .item {
        flex-direction: column;
        align-items: center;
    }

    .item img {
        width: 90%;
    }

    .item p {
        width: 100%;
    }

    .content h2 {
        text-align: center;
    }
    .profile_flex {
        flex-direction: column;
    }
    .profile_nav {
        width: 100%;
    }
    .profile_content {
        width: 100%;
    }
}

.wrapper_modal {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

.templ {
    height: 50vh;
    width: max-content;
    margin: 0 auto;
}

.small_text_under_btn {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    align-self: center;
}

.small_text_under_btn a {
    padding: 3px 5px;
}


/*radio button*/

.radio_group {
    width: 100%;
}

.form_radio_group {
    position: relative;
}
.next_item {
    background: #d75946;
    height: 46px;
    width: 25px;
    position: absolute;
    right: 0;
    top:50%;
}

.form_radio_group input[type=radio] {
    display: none;
}


.form_radio_group-item label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #999;
    user-select: none;
    min-height: 50vh;
    margin: 10px 0;

}

/* Not Checked */
.form_radio_group-item input#radio-1[type=radio] + label {
    background: url("/media/templates_img/example1.png") 0 0 no-repeat;
    background-size:auto 50vh;
    background-position: center;
}

/* Not Checked */
.form_radio_group-item input#radio-2[type=radio] + label {
    background: url("/media/templates_img/example2.png") 0 0 no-repeat;
    background-size: auto 50vh;
    background-position: center;
}
/* Not Checked */
.form_radio_group-item input#radio-3[type=radio] + label {
    background: url("/media/templates_img/example3.png") 0 0 no-repeat;
    background-size: auto 50vh;
    background-position: center;
}


#radio_2, #radio_3 {
    display: none;
}
#next, #before {
    position: absolute;
    top:20vh;
    height: 100px;
    width: 30px;
    background: #ecd140;
    border: 0;
    opacity: 0.8;
    color:white;
    font-size: 2em;
}
#next {
    right:0;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}
#before {
    left: 0;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    display: none;
}


#div_id_template {
    display: none;
}

#div_id_photo>div>:not(#id_photo) {
    display: none;
    visibility: hidden;
}
#div_id_photo>div {
    color: #fff;
}
#id_photo {
    color: black;
}