{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Логин{% endblock title %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}
<div class="login">
    <form method="post" action="{% url 'login' %}">
        <h1>ВХОД</h1>
        {% csrf_token %}

        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <input type="submit" value="login" class="btn btn-warning"/>
        <input type="hidden" name="next" value="{{ next }}"/>
        {# Assumes you setup the password_reset view in your URLconf #}
        <div class="small_text_under_btn">
            <a href="{% url 'password_reset' %}">Не помню пароль</a><a href="{% url 'portfolio:registration' %}">Зарегистрируйтесь</a>
        </div>

    </form>
</div>


{% endblock %}