{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}registration{% endblock title %}
{%  block content%}
<div class="login">
    <form>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputText" required="true" placeholder="NickName">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" required="true" placeholder="Email address">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword" required="true" placeholder="Password">
        </div>
        <div class="mb-3">
            <label for="fileupload" class="form-label">Logo</label>
            <input id="fileupload" class="form-control" name="myfile" type="file" />
        </div>
        <button type="submit" class="btn btn-warning">Зарегистрироваться</button>
        <a href="{% url 'portfolio:login' %}">Вход</a>
    </form>
</div>
{% endblock content %}