{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/page1.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.username}}</title>
</head>
<body>

<nav class="wrapper">
    <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#about">Обо&nbsp;мне</a></li>
        <li><a href="#skills">Навыки</a></li>
        <li><a href="#">Портфолио</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
</nav>
<div class="header wrapper">
    <h1>{{ user }}</h1>
    <h2>{{ portfolio.career }}</h2>
    <h2>RU | EN</h2>
</div>
<div class="header_logo wrapper">
    <img src="{{avatar }}" alt="logo"/>
</div>
<div class="content">
    <div class="wrapper">
        <h3 id="about">Обо&nbsp;мне</h3>
        <p>{{ portfolio.about_me }}</p>
    </div>
</div>

<div class="content">
    <div class="wrapper">
        <h3 id="skills">Навыки</h3>
        {% for i in skills %}
        <p>{{ i }}</p>
        {% endfor %}
    </div>
</div>
</body>
</html>