{% extends 'portfolio/base.html' %}
{% load crispy_forms_tags %}
{% block title %}profile{% endblock title %}

{% block content %}
<div class="login">
    <form action="" method="POST" enctype="multipart/form-data" class="form_edit_profile">
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.media }}

        <button type="button" id="templates" data-bs-toggle="modal" data-bs-target="#exampleModal">ВЫБОР ШАБЛОНА
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Выбор шаблона</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper_modal">
                            <div class="form_radio_group">
<!--                                <a href="#" class="next_item">Next</a>-->
                                <input type="button" id="next" value=">" name="hello" OnClick="a();">
                                <input type="button" id="before" value="<" name="hello" OnClick="b();">
                                <div class="form_radio_group-item" id="radio_1">
                                    <input id="radio-1" type="radio" name="radio" value="1">
                                    <label for="radio-1"></label>
                                </div>
                                <div class="form_radio_group-item" id="radio_2">
                                    <input id="radio-2" type="radio" name="radio" value="2">
                                    <label for="radio-2"></label>
                                </div>
                            </div>
                            <button class="save" type="button" data-bs-dismiss="modal" aria-label="Close">ВЫБРАТЬ</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p>&copy;&nbsp;Портфолио&nbsp;2022</p>
                    </div>
                </div>
            </div>
        </div>

        <button class="save" id="save" type="submit">СОХРАНИТЬ</button>
    </form>
</div>

{% endblock %}