{% extends 'portfolio/base.html' %}
{% load crispy_forms_tags %}
{% block title %}profile{% endblock title %}

{% block content %}
<div class="login">
    <form action="" method="POST" enctype="multipart/form-data" class="form_edit_profile">
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.media }}

        <button class="my_button light_blue" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">ВЫБОР ШАБЛОНА
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Выбор шаблона</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper_modal">
                            <div class="form_radio_group">
                                <input type="button" id="next" value=">" name="hello" OnClick="a();">
                                <input type="button" id="before" value="<" name="hello" OnClick="b();">
                                {% for k in form.template.field.choices %}
                                <div class="form_radio_group-item" id="radio_{{ k.0 }}">
                                    <input id="radio-{{ k.0 }}" type="radio" name="template" value="{{ k.0 }}">
                                    <label for="radio-{{ k.0 }}"></label>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="my_button yellow" type="button" data-bs-dismiss="modal" aria-label="Close">ВЫБРАТЬ
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p>&copy;&nbsp;Портфолио&nbsp;2022</p>
                    </div>
                </div>
            </div>
        </div>

        <button class="my_button light_green" type="submit">СОХРАНИТЬ</button>
    </form>
</div>

{% endblock %}